/* Student Details CSS Code */

*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
	font-family: 'Roboto', sans-serif;
	background-position: center;

}
img{
    width: 60%;
    height: auto;
}
h1{
    color: #fff;
	padding: 0;
    margin: 0 0 15px 0;
	font-family: 'Alkatra' , cursive;
}
p{
    padding: 10;
    margin: 0 0 20px 0;
    color: #000;
	font-size: 30px;
}

.Container{
    height: calc(100vh - 70px);
    width: 100%;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -7px;
}
.imageCont {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    height: 100vh;
    width: 100%;
    background-color: #000;
}
.mainImage{
    position: relative;
    height: 100vh;
    width: 100%;
    opacity: 0.6;
    display: block;

}
.Title_section{
    margin-top: 12vh;
	text-align:center;
	font-size: 35px;
    line-height: 70px;
}
.Team_description{
	text-align:center;
	font-size: 25px;
}
.Row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.Colum{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}
.Member{
    margin-bottom:30px;
	position: relative;
    margin-bottom: 30px;
    overflow: hidden;
	text-align:center;
}

.Member {
	font-size: 0;
    overflow: hidden;
	text-align:center;
}
.Member .MemberImg1 img{
    width: 100%;
    height: 180%;
	transition: all .3s;
	text-align:center;
}

.Member .MemberImg2 img{
    width: 100%;
    height: 180%;
	transition: all .3s;
	text-align:center;
}
.Member .MemberImg3 img{
    width: 100%;
    height: 180%;
	transition: all .3s;
	text-align:center;
}
.Member .MemberImg4 img{
    width: 100%;
    height: 180%;
	transition: all .3s;
	text-align:center;
}

.Member:hover img{
	transform:scale(1.2);
}


.Member_desc p,h2{
	font-size: 15px;
}
.Member .Member_desc{
	position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: all .3s ease-in;
    opacity: 0;
}
.Member.Member_desc .inner{
	position: absolute;
    padding: 15px;
    z-index: 1;
}
.Member .Member_desc:before,
.Member .Member_desc:after{
	position: absolute;
    display: block;
    width: 100%;
    height: 0;
    content: '';
}
.Member .Member_desc:before{
	border-top: 3px solid #000;
    border-right: 3px solid #ffffff;
    left: -100%;
    top: 0;
}
.Member .Member_desc:after{
	border-bottom: 3px solid #000;
    border-left: 3px solid #ffffff;
    left: 100%;
    bottom: 0;
}
.Member:hover .Member_desc{
	opacity: 1;
}
.Member:hover .Member_desc:before,
.Member:hover .Member_desc:after{
	animation-delay: .1s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.Member .Member_desc h2{
	height: 50px;
    color: #fff;
    font-size: 22px;
    margin: 5;
}

.Member .Member_desc p{
	color: #fffffa;
    font-size: 16px;
    margin-bottom: 16px;
}

@media (min-width: 580px){
    .Container{
        max-width: 540px;
    }
    .Colum{
        max-width: 50%;
    }
}
@media (min-width: 780px){
    .Container{
        max-width: 720px;
    }
    .Colum{
        max-width: 34%;
    }
}
@media (min-width: 992px){
    .Container{
        max-width: 960px;
    }
    .Colum{
        max-width: 25%;
    }
}
@media (min-width: 1200px){
    .Container{
        max-width: 1140px;
    }
   
}
