.aboutCity{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 7%;
    width: 85%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: flex-end; */
}
.aboutCaption {
    color: white;
    font-size: 35px;
    font-family: 'Pacifico', cursive;
}
.aboutCityName {
    color: white;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;font-family: 'Alkatra', cursive;
    font-weight: 600;
}
.content {
    width: 100%;
    display: flex;
    margin: 50px 0;
}
.contentImg {
    position: relative;
    width: 100%;
    height: 90vh;
    border-radius: 10px;
    object-fit: cover;
    object-position: bottom;
}

.contentImageCont {
    width: 50%;
    padding: 0 50px;
}
.contentText {
    width: 50%;
    padding: 0 50px;
}
.contentText .title {
    margin-bottom: 30px;
    font-size: 40px;
}
.contentText p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    
}

.bottomImg {
    width: 100%;
    margin-bottom: 0;
    display: block;
}
